# # 민감 정보 보호 텀프여서 비활성화
# .env

# 파이썬 실행 캐시
__pycache__/

# 컴파일된 파일 
*.py[cod]

# 가상환경 폴더 (용량 큼)
venv/

# 개인 에디터 설정
.vscode/            '

프로젝트.md

# 데이터 파일
# user_uploads/

*.sql

# 가상환경 폴더 (용량 큼)
.venv/  